<!DOCTYPE html>
<head>
    <title>FIR Analysis</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2 id="fir_title">FIR Analysis</h2>
    <section>
        <label for="fir_input" id="upload-label">choose file</label>
        <input type="file" id="fir_input" accept=".pdf" />
        <label for="upload-btn" id="upload-label">analyze</label>
        <button id="upload-btn"></button>
        <p id="input_image_name"></p>
        <p id="result"></p>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.1.6/marked.min.js"></script>
    <script src="/static/script.js"></script>
</body>