<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nyaya</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/fir-analysis">FIR Analysis</a>
    </nav>

    <section class="hero">
        <h1>Nyaya</h1>
        <p>AI-powered legal tool that simplifies FIRs into plain-English summaries with explained legal sections and next steps. Includes an evidence organizer for uploading files like screenshots, audio, and notes, automatically creating a timeline. Also provides basic insights by identifying key elements and missing evidence.</p>
    </section>
    <section id="Features">
        <h2>Features</h2>
        <div class="cards-grid">
            <div class="card">
                <h3>FIR to Plaintext</h3>
            </div>
            <div class="card">
                <h3>Evidence Organizer</h3>
            </div>
            <div class="card">
                <h3>Case Insights</h3>
            </div>
        </div>
    </section>
</body>
</html>