<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FIR Analysis</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/fir-analysis">FIR Analysis</a>
        <a href="/section-finder">Section Finder</a>
    </nav>

    <h2 id="fir_title">Section Finder</h2>
    <p id="fir-subtext">Describe your situation and find out what IPC sections are applicable.</p>
    <textarea id="incident-report" rows="2" placeholder="e.g. my neighbor broke into my house at night and threatened me with a knife..."></textarea>
    <script src="/static/auto-resize.js"></script>
</body>
</html>